html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #483D8B;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F8F8FF;
}

.navbar.navbar-light {
    background-color: #483D8B; 
}


.navbar-dark .navbar-nav .nav-link {
    color: #ffffff; /* White text color */
}

/* Footer Styles */
.footer {
    background-color: #483D8B;
}

    
    .footer .container {
        color: #ffffff; /* White text color */
    }


